/* header */

header{
    padding: 1em 1em 1em 1em;
}

.header_image{
    width: 6em;
}
.web_identity{
    display: flex;
}
h1{
    font-size: 3em;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.slogan{
    text-align: right;
    font-size: 1.7em;
    padding: 0.5em 0 0.5em 0;
}
.sous_slogan{
    text-align: right;
    font-size: 0.7em;
}


/* Footer */

footer{
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
    text-align: center;
}