/* header */
header{
    padding: 1em 1em 1em 1em;
}

*, p,h1, h2,h3,h4, footer{
    font-family: 'Ysabeau Office', sans-serif;
}

.header_image{
    width: 6em;
}
.web_identity{
    display: flex;
}
h1{
    font-size: 2em;
    padding-left: 0.5em;
    padding-top: 1em;
    font-weight: 800;
}
@media screen and (min-width: 800px){
    .slogan{
        text-align: right;
        font-size: 1.7em;
        padding: 0.5em 0 0.5em 0;
    }
    .sous_slogan{
        text-align: right;
        font-size: 0.7em;
    }
}
@media screen and (max-width: 800px){
    .slogan{
        display: none;
    }
    .sous_slogan{
        display: none;
    }
}

/* Footer */

footer{
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
    text-align: center;
}