body, .sous_bloc{
    background-color: rgb(125, 125, 125);
}
.part{
    background-color: rgba(95, 95, 95, 0.522);
    margin: 1em 1em 0 1em;
    padding: 1em;
}

.bloc1{
    background-color: rgb(146, 146, 146);
}

.bloc2{
    background-color: rgb(55, 55, 55);
}

.article{
    display: grid;
    padding: 1em;
    justify-content: start
}
.title_article{
    padding-bottom: 0.5em;
    grid-column-start: 1;
    grid-column-end: 3;
}
.desc_article{
    padding-left: 1em;
}
.desc_pres{
    font-size: 1.5em;
}
h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.5em;
}

.marge_bloc{
    margin: 1em 1% 0 1%;
    padding: 1em;
}