@media screen and (min-width: 800px){
    .photo{
        height: 10em;
        padding: auto;
    }
    
    .image{
        height: 7em;
        margin: auto;
    }

    .general_bloc{
        padding: 2em;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .sous_bloc{
        margin: 1em;
        display: inline-grid;
    }
}


@media screen and (max-width: 800px){
    .photo{
        height: 7em;
        padding: auto;
    }
    
    .image{
        height: 5em;
        margin: auto;
    }
    .general_bloc{
        padding: 1em;
    }
    .sous_bloc{
        margin: 1em 0.5em 0.5em 0.5em;
    }
}